body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464040;
    color: #e64b4b;
}

/* Styles for the header */
header {
    background-color: #510f0f;
    color: rgb(96, 47, 47);
    text-align: center;
    padding: 1rem;
}

.header-title {
    font-weight: bold;
    letter-spacing: 2px;
}

/* Styles for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for images and media */
img, audio, video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for headings and text */
h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #bebe3b;
}

h2 {
    color: #000000;
}

p {
    line-height: 1.6;
}

/* List styling */
ul {
    list-style-type: disc;
    padding-left: 20px;
}
