/* Universal Selector */
body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464040;
    color: #e64b4b;
}

/* Type Selector */
header {
    background-color: #510f0f;
    color: rgb(96, 47, 47);
    text-align: center;
    padding: 1rem;
}

/* Class Selector  */
.header-title {
    font-weight: bold;
    letter-spacing: 2px;
}

/* Class Selector */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Element Selector */
img, audio, video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Element Selector  */
h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Type Selector  */
h1 {
    color: #bebe3b;
}

/* Type Selector */
h2 {
    color: #000000;
}

/* Type Selector */
p {
    line-height: 1.6;
}

/* Type Selector  */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Pseudo-Class  */
a:hover {
    color: #ff0000;
    text-decoration: underline;
}


button:active {
    background-color: #008000;
    color: #fff;
}


input:focus {
    border: 2px solid #0000ff;
    outline: none;
}


section::before {
    content: "Section: ";
    font-weight: bold;
}

section::after {
    content: " (End)";
    font-weight: bold;
}
